<!-- Footer -->
<footer class="text-center text-lg-start bg-dark" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-0 one-hundred-vw">
        <img src="https://i.imgur.com/AhBmvwr.png">
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="text-light">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-1 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>MANGÚT
                    </h6>
                    <hr>
                    <p>
                        <a href="#sobre" class="text-light">Sobre</a>
                    </p>
                    <p>
                        <a href="#valores" class="text-light">Valores</a>
                    </p>
                    <p>
                        <a href="#tecnologias" class="text-light">Tecnologias</a>
                    </p>
                    <p>
                        <a href="#equipe" class="text-light">Equipe</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        MANGÚT-SE
                    </h6>
                    <hr>
                    <p>
                        <a href="#!" class="text-light">FAQ</a>
                    </p>
                    <p>
                        <a href="#!" class="text-light">Contato</a>
                    </p>
                    <p>
                        <a routerLink="/login" class="text-light">Login</a>
                    </p>
                    <p>
                        <a routerLink="/cadastro" class="text-light">Cadastro</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <!-- Links -->
                <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Linkedin
                            </h6>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <a href="https://www.linkedin.com/in/adrielly-ribeiro-790504230/" target="_blank"
                                    class="text-light">Adrielly Ribeiro</a>
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/camilla-nunes-939819145/" target="_blank"
                                    class="text-light">Camilla Nunes</a>
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/atrindadecarol/" target="_blank"
                                    class="text-light">Caroline
                                    Trindade</a>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p>
                                <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-carvalho-fernandes-da-silva-6301b9187/"
                                    target="_blank" class="text-light">João Fernandes</a>
                            </p>

                            <p>
                                <a href="https://www.linkedin.com/in/nayara-lelis-974728238/" target="_blank"
                                    class="text-light">Nayara Lelis</a>
                            </p>

                            <p>
                                <a href="https://www.linkedin.com/in/vinicios-borges-51685122b/" target="_blank"
                                    class="text-light">Vinicios Borges</a>
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/vinicius-bersano/" target="_blank"
                                    class="text-light">Vinicius Bersano</a>
                            </p>
                        </div>
                    </div>
                    <!-- Links -->
                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Conheça nossas redes
                    </h6>
                    <hr>
                    <p>
                        <a href="#" class="me-4 text-logo p-0">
                            <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 30px"></i>
                        </a>
                        <a href="https://www.instagram.com/mangutrede/" target="_blank" class="me-4 text-logo">
                            <i class="fa fa-instagram" aria-hidden="true" style="font-size: 30px"></i>
                        </a>
                        <a href="#" class="me-4 text-logo">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 30px"></i>
                        </a>
                        <a href="https://github.com/orgs/Projeto-Integrador-GB-Mangut/teams/grupo-mangut/repositories"
                            target="_blank" class="me-4 text-logo">
                            <i class="fa fa-github" aria-hidden="true" style="font-size: 30px"></i>
                        </a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 bg-darker text-light justify-content-center">
        © 2022 Feito com ❤ por GRUPO 2 - Turma 53 Bootcamp Generation Brasil:
        <a class="text-logo fw-bold" href="https://www.instagram.com/mangutrede/"><img
                src="https://i.imgur.com/4pShSKx.png" style="width: 90px;"></a>
    </div>
    <!-- Copyright -->
</footer>