@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.bg-color{
    background-image: linear-gradient(135deg, #e4e002,  #f09309,#df9c39, #f78012);
    min-height: 100vh;
     padding: 70px;
}

html {
    font-family: "Poppins";
}

/* 
.box-form {
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    box-shadow: 0 0 20px 6px #0d0d0e85;
    height: 125vh;
    max-height: max-content;
}

a{
	text-decoration:none;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
	height: auto;
  }
}

/* caixa esquerdo 

.box-form .left {
  background-image: url(https://i.imgur.com/soZo9rf.jpg);
  text-align: center;
  color: #FFFFFF;
  display: flex;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 25vh;
}
.box-form .left .overlay h1 {
  font-size: 3vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 10vh;
}

.box-form .left button {
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-image: linear-gradient(135deg, #e4f30c 10%, #f3a006 100%);
}

@media (max-width: 980px) {
  .box-form .left {
  width: 100vw;
	height: 50vh;

  }
  .box-form .left .overlay{

    padding-top: 5px;
  }
}

/* Caixa direito

.box-form .right {
    padding-left: 4vw;
    overflow: hidden;
    width: 50vw;
    height: 120vh;
    padding-right: 4vw;
    align-items: center;
    background-color: #333333;
  color: white;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100vw;
	height: 100vh;
  }
}

/* texto  lado direito

.box-form .right  h1{
    font-size: 3vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 13vh;
    color: #e4f30c ;
}

/* caixa de senha e user

.box-form .right input {
background-color: transparent;
color:  white;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 3px solid #f8e802;
}

/* Botão entrar

.box-form .right button {
    color: black;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #050608a6;
    background-image: linear-gradient(135deg, #e4f30c 10%, #f3a006 100%);
}
 */

/*CSS AGIL*/


#img-bg {
  background-image: url('https://i.imgur.com/soZo9rf.jpg');

  min-height: 135vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 1px solid whitesmoke;
}

a{
  color:#ffe259
}

.cardts {
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-radius: 10px;
}
