@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.bg-color{
    background-image: linear-gradient(135deg, #e4e002,  #f09309,#df9c39, #f78012);
    min-height: 100vh;
     padding: 70px;
}

html {
    font-family: "Poppins";
}

#img-bg {
  background-image: url('https://i.imgur.com/HZxjGlY.png');

  min-height: 135vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 1px solid whitesmoke;
}

a{
  color:#ffe259
}

.cardts {
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-radius: 10px;
}
