<div class="container-fluid p-5 d-flex text-light bg-gr justify-content-center">

    <div class="cardts p-3" style="border-radius: 20px; width: 90vh;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fs-54 text-center mb-2">Deletar Tema</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h5 class="fs-18 text-center">Tem certeza que quer prosseguir?</h5>
                <h5 class="fs-18 text-center">Todas as postagens associadas a esse Tema também serão excluídas</h5>

                <h5 class="fs-18 text-center gr-txt mt-1 mb-1">{{tema.categoria}}</h5>

                <div class="d-flex justify-content-center mt-3 mb-3">
                    <button class="btn btn-warning mr-3" (click)='apagar()'>Deletar</button>
                    <button class="btn btn-outline-warning" routerLink='/tema'>Cancelar</button>
                </div>

            </div>
        </div>
    </div>

</div>