.cardts {
    background: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-radius: 10px;
}

.bg-green {
    background-color: #31401f;
  }
  
  .bg-darker {
    background-color: #071104;
  }
  