@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html {
  font-family: "Poppins";
}

#img-bg {
  background-image: url('https://i.imgur.com/Cp9akhQ.png');

  min-height: 90vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 1px solid whitesmoke;
}

a{
  color:#ffe259
}

.cardts {
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-radius: 10px;
}
