<div class="container-fluid p-5 bg-gr">

    <div class="container-fluid bg-green box-shadow text-light" style="border-radius: 20px">

        <div class="row">

            <div class="col-md-7 d-flex justify-content-center align-items-center" id="img-bg"
                style="border-end-start-radius: 20px; border-start-start-radius: 20px">

                <div class="cardts box-shadow p-3" style="width: 20rem; height: max-content; border-radius: 10px;">
                    <div class="card-body p-0 d-flex justify-content-center">
                        <img style="height: 75px;" src="https://i.imgur.com/4pShSKx.png" alt="">
                    </div>
                    <h3 class="text-center text-light">vamos semear o bem</h3>
                    <h6 class="text-center text-light">

                        <hr class="mt-4">

                        <p class="text-center text-light text-md">
                            Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
                        </p>

                    </h6>
                </div>

            </div>

            <div class="col-md-5 pt-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">

                                <h1 class="text-center text-light main-txt mt-5">Login</h1>

                                <div class="form-group">
                                    <label for="user">E-mail</label>
                                    <input [(ngModel)]='usuarioLogin.usuario' type="text" class="form-control"
                                        name="usuario" placeholder="Digite aqui seu e-mail" id="usuario" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Senha</label>
                                    <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password"
                                        name="password" id="password" placeholder="Digite aqui sua senha">
                                </div>

                                <hr class="mt-4">

                                <div class="d-flex justify-content-center pt-1 mb-3">
                                    <button type="submit" class="btn btn-outline-warning"
                                        (click)='entrar()'>Entrar</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>