<div class="container1-fluid row d-flex justify-content-center" id="topo">
    <div class="animanome row d-flex ">
        <div class="static-txt fw-800">mangut é </div>
        <ul class="dynamic-txts">
            <li><span></span></li>
            <li><span>colher.</span></li>
            <li><span>alimentar.</span></li>
            <li><span>educar.</span></li>
            <li><span>mobilizar.</span></li>
        </ul>
    </div>
</div>


<a class="top pt-5" href="#topo"> <i class="fa fa-sort-up"></i> </a>
<!-- fim anima nome -->


<!-- fim div colunas -->
<div class="container-fluid">
    <div class="  row d-flex justify-content-center bg-darker text-light pt-5" id="sobre">

        <div class="d-flex text-justify">

            <div class=" d-flex">
                <div class="col-md-6">
                    <section class="m-5 row" style="width: 550px;">

                        <h3 class="main-txt fs-36">O projeto</h3>

                        <p class="mt-3 fw-500"> A iniciativa Mangút nasce em um contexto de necessidade, visto que no
                            ano de 2021 o Brasil
                            <a href="https://g1.globo.com/jornal-nacional/noticia/2022/07/06/brasil-volta-ao-mapa-da-fome-das-nacoes-unidas.ghtml"
                                target="_blank" style="color:#f5bb31">
                                retornou ao mapa da fome</a>, colocando mais de 60 milhões de pessoas no país em
                            situação de insegurança alimentar. Esse cenário distancia a construção do Objetivo de
                            Desenvolvimento Sustentável <a href="https://brasil.un.org/pt-br/sdgs/2" target="_blank"
                                style="color: #f5bb31;">(ODS-2)</a> da ONU, que visa como principais objetivos a
                            erradicação da fome, alcance da segurança alimentar, melhoria da nutrição e promoção da
                            agricultura sustentável.
                        </p>

                        <div class="d-flex align-content-center mt-5 justify-content-center" style="margin-left: 25px;">

                            <!--video-->
                            <div class="videoformat">

                                <iframe loading="lazy" class="videoframe"
                                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGr1oYOQM&#x2F;watch?embed"
                                    allowfullscreen="allowfullscreen" allow="fullscreen">
                                </iframe>
                            </div>
                            <!--video-->

                        </div>


                    </section>
                </div>
            </div>

            <div class="col-md-6">
                <section class="m-5 mb-0 row" style="width: 550px;">

                    <h3 class="main-txt fs-36" id="">Mangút</h3>

                    <p class="mt-3 fw-500"> Mangút vem da língua Borun, dos indígenas Krenák e significa "comer,
                        comida". Quem melhor do que os povos
                        indígenas na defesa da natureza, da autonomia alimentar, nutritiva e orgânica, não é mesmo? Por
                        isso
                        escolhemos esse nome, porque a natureza é a melhor e mais avançada tecnologia que possuímos.
                        Precisamos ressignificar nossa relação com a natureza, ocupar espaços para o cultivo de uma
                        alimentação
                        orgânica que acabe com a situação de insegurança alimentar da comunidade.
                    </p>

                    <h3 class="main-txt fs-36 pt-5 mt-2" id="">Objetivo</h3>

                    <p class="mt-3 fw-500">

                        Acreditamos no poder da organização comunitária, portanto, essa rede possibilita a construção
                        dessa organização com base no território onde as pessoas vivem, podendo atender as demandas
                        emergenciais e colaborando para a construção e efetivação de políticas públicas que atendam e
                        aproximem aos objetivos propostos pela ODS-2.

                    </p>

                    <p class="mt-3 fw-500">
                        O Mangút proporciona a conexão de pessoas que querem se organizar para acabar com a fome e
                        promover autonomia alimentar de forma saudável e coletiva dentro de suas comunidades, afinal,
                        como já disse o secretário-geral da ONU, António Guterres: “antes de ser mercadoria, comida é um
                        direito humano”. <a routerLink='/login'> Mangút-se!</a>
                    </p>

                </section>
            </div>

        </div>
        <!-- div colunas -->

        <!--Valores-->
        <div class="text-center">

            <h3 class="main-txt fs-36 align-content-center mb-5" id="valores">Diretrizes</h3>

            <div class="cards mb-5 d-flex justify-content-between">

                <div class="card m-3 bg-green" style="width: 18rem;">

                    <div class="card-header p-2">
                        <h3 class="main-txt">Mobilização</h3>
                    </div>

                    <i class="fa fa-pagelines pt-4 fs-36" aria-hidden="true" style="color: #cb6521;"></i>

                    <div class="card-body p-4">
                        <p class="card-text fw-500 text-justify">Acreditamos no poder da organização comunitária na
                            construção de uma
                            sociedade mais inclusiva e sustentável através de uma melhor ocupação do espaço urbano.</p>
                    </div>
                </div>

                <div class="card m-3 bg-green" style="width: 18rem;">

                    <div class="card-header p-2">
                        <h3 class="main-txt">Transformação</h3>
                    </div>

                    <i class="fa fa-cutlery pt-4 fs-36" aria-hidden="true" style="color: #cb6521;"></i>

                    <div class="card-body p-4">
                        <p class="card-text fw-500 text-justify">Priorizar iniciativas que tem como objetivo garantir
                            segurança alimentar a todes, considerando a erradicação da fome como pilar essencial quando
                            pensamos em transformação.</p>
                    </div>
                </div>

                <div class="card m-3 bg-green" style="width: 18rem;">

                    <div class="card-header p-2">
                        <h3 class="main-txt">Educação</h3>
                    </div>

                    <i class="fa fa-child pt-4 fs-36" aria-hidden="true" style="color: #cb6521;"></i>

                    <div class="card-body p-4">
                        <p class="card-text fw-500 text-justify">Promover um espaço de troca de conhecimentos, sempre
                            priorizando o respeito as diferenças em prol de um objetivo comum.</p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>


<div class="img-bg d-flex justify-content-center align-content-center p-0 m-0">

    <div class="m-5 d-flex">

        <div class="cardts box-shadow" style="width: 180vh; height: max-content;">


            <div class="mb-5">

                <div class="card-header">
                    <h4 class="mb-4" id="equipe" style="font-size: 90px; color:white; text-align: center;">Mangút Equipe</h4>
                </div>

            </div>

            <div class="pb-5">

                <div class="cards d-flex  justify-content-center ml-0" style="border-radius: 10px;">
                    <div class="flip-card d-flex" style="border-radius: 10px;">
                        <div class="flip-card-inner ">
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/w8HDxFl.png" alt="Carol Trindade"
                                    style="border-radius: 10px;">
                            </div>
                            <div class="flip-card-back" style="border-radius: 10px;">

                                <div class="card-header pt-2">
                                    <h4 class="main-txt">Caroline Trindade</h4>
                                </div>

                                <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Graduada em Serviço
                                    Social, mãe desde 2019, curiosa e em transição de carreira para se tornar uma
                                    referência na área da tecnologia.</h5>

                                <p class="p-0" style="color: gray; font-size: 25px;">SP Capital</p>

                                <div class="icons justify-content-center pt-3">

                                    <a href="https://www.linkedin.com/in/atrindadecarol/" target="_blank"><i
                                            class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>
                                    <a href="https://github.com/ATrinCarol" target="_blank"><i
                                            class="fa fa-github-square fs-36" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="flip-card d-flex ">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/c5AL4vI.png" alt="Adrielly">
                            </div>
                            <div class="flip-card-back">

                                <div class="card-header pt-2">
                                    <h4 class="main-txt">Adrielly Ribeiro</h4>
                                </div>

                                <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Estudando ciência da
                                    computação
                                    Técnica em produção de jogos digitais
                                    Tecnólogo de Produção Multimídia</h5>

                                <p class="p-0" style="color: gray; font-size: 25px;">SP Cubatão</p>

                                <div class="icons justify-content-center pt-3">

                                    <a href="https://www.linkedin.com/in/adrielly-ribeiro-790504230/" target="_blank"><i
                                            class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>
                                    <a href="https://github.com/Eidryel2" target="_blank"><i
                                            class="fa fa-github-square fs-36" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="flip-card d-flex">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/7Yrw9Lw.png" alt="Naaya">
                            </div>
                            <div class="flip-card-back">

                                <div class="card-header pt-2">
                                    <h4 class="main-txt">Nayara Lelis</h4>
                                </div>

                                <h5 class="card-text fw-500 text-center p-2 text-justify d-flex">Bacharel em Comunicação
                                    Social e produtora cultural.Motivada pela busca e compartilhamento de conhecimento
                                    através da tecnologia.</h5>

                                <p class="p-0" style="color: gray; font-size: 25px;">SP Capital</p>

                                <div class="icons justify-content-center pt-1">

                                    <a href="https://www.linkedin.com/in/nayara-lelis-974728238/" target="_blank"><i
                                            class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>
                                    <a href="https://github.com/NaayaLelis" target="_blank"><i
                                            class="fa fa-github-square fs-36" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="flip-card d-flex mr-0">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/VhSg6QO.png" alt="Cami">
                            </div>
                            <div class="flip-card-back">

                                <div class="card-header pt-2">
                                    <h4 class="main-txt">Camilla Nunes</h4>
                                </div>

                                <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Graduada em Serviço
                                    Social, mãe desde 2019, curiosa e em transição de carreira para se tornar uma
                                    referência na área da tecnologia.</h5>

                                <p class="p-0" style="color: gray; font-size: 25px;">SP Capital</p>

                                <div class="icons justify-content-center pt-3">

                                    <a href="https://www.linkedin.com/in/camilla-nunes-939819145/" target="_blank"><i
                                            class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>
                                    <a href="https://github.com/CamillaNunes79" target="_blank"><i
                                            class="fa fa-github-square fs-36" aria-hidden="true"
                                            style="color: #cb6521;"></i></a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="cards d-flex  justify-content-center text-justify ml-0">
                <div class="flip-card">
                    <div class="flip-card-inner ">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/PkH98HT.png" alt="João">
                        </div>
                        <div class="flip-card-back">

                            <div class="card-header pt-2">
                                <h4 class="main-txt">João Fernandes</h4>
                            </div>

                            <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Graduado em agronegócio com
                                mais de 5 anos de experiência no setor e em transição de carreira para área de
                                tecnologia em busca de novos desafios.</h5>

                            <p class="p-0" style="color: gray; font-size: 25px;">SP Capital</p>

                            <div class="icons justify-content-center pt-3">

                                <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-carvalho-fernandes-da-silva-6301b9187/"
                                    target="_blank"><i class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>
                                <a href="https://github.com/joaocfvitor" target="_blank"><i
                                        class="fa fa-github-square fs-36" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/eLDYDET.png" alt="Vino">
                        </div>
                        <div class="flip-card-back">

                            <div class="card-header pt-2">
                                <h4 class="main-txt">Vinicios Borges</h4>
                            </div>

                            <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Bacharel em música,
                                violoncelista, estudante de composição. Buscando mesclar os conhecimentos de tecnologia
                                e de música.</h5>

                            <p class="p-0" style="color: gray; font-size: 25px;">SP Capital</p>

                            <div class="icons justify-content-center pt-3">

                                <a href="https://www.linkedin.com/in/vinicios-borges-51685122b/" target="_blank"><i
                                        class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>
                                <a href="https://github.com/VinoBorges" target="_blank"><i
                                        class="fa fa-github-square fs-36" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="flip-card ml-0 mb-5">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/HUyCWd3.png" alt="Bersano">
                        </div>
                        <div class="flip-card-back">

                            <div class="card-header pt-2">
                                <h4 class="main-txt">Vinicius Bersano</h4>
                            </div>

                            <h5 class="card-text fw-500 text-center p-3 text-justify d-flex">Graduando em Arquitetura,
                                atualmente estou
                                em transição de carreira para a área de tecnologia,
                                onde encontrei minha nova paixão!
                            </h5>

                            <p class="p-0" style="color: gray; font-size: 25px;">SP S.B.C.</p>

                            <div class="icons justify-content-center pt-3">

                                <a href="https://www.linkedin.com/in/vinicius-bersano/" target="_blank"><i
                                        class="fa fa-linkedin-square fs-36 mr-2" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>

                                <a href="https://github.com/vbersano" target="_blank"><i
                                        class="fa fa-github-square fs-36" aria-hidden="true"
                                        style="color: #cb6521;"></i></a>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>


</div>
<!-- final card equipe -->

<!-- Comeco como codamos -->
<div class="bg-darker text-light d-flex justify-content-center" id="tecnologias">
    <div class="pt-5 pb-5">
        <div class="header">
            <h1>Como codamos a rede Social</h1>

        </div>
        <div class="row1-container">
            <div class="box box-down cyan ">
                <img src="https://i.imgur.com/aUZBFyL.png" alt="springboot logo" style="height: 100px;"
                    class="mb-2 pr-4 mb-3">
                <p class="text-center fw-500">Spring Boot é um framework Java open source que tem como objetivo
                    facilitar esse processo em aplicações Java.</p>
            </div>

            <div class="box red">
                <img src="https://i.imgur.com/UlvrCqY.png" alt="angular logo" style="height: 85px;"
                    class="ml-5 mr-5 pr-2 mb-3">

                <p class="text-center fw-500">Angular é um poderoso framework que utiliza HTML e TypeScript para criar a
                    interface com o usuário, ou seja, o front-end em aplicações web, desktop e dispositivos móveis.</p>
            </div>

            <div class="box box-down blue">
                <img src="https://i.imgur.com/SIAUyOS.png" alt="bootstrap logo" style="height: 70px;"
                    class="ml-5 mr-5 mb-3">
                <p class="text-center fw-500">Bootstrap é um framework web com código-fonte aberto para desenvolvimento
                    de componentes de interface e front-end para sites e aplicações web.</p>
            </div>
        </div>


        <div class="row2-container align-content-center">
            <div class="box orange">
                <img src="https://i.imgur.com/xySXWmQ.png" alt="java logo" style="height: 100px;"
                    class="ml-5 mr-5 mb-3">
                <p class="text-center fw-500">Java é uma linguagem multiplataforma, orientada a objetos e centrada em
                    rede que pode ser usada como uma plataforma em si. É uma linguagem de programação rápida, segura, e
                    confiável, por isso foi escolhido como base para o back-end dessa aplicação. </p>
            </div>
        </div>


    </div>
</div>