<div class="container1-fluid row d-flex justify-content-center" id="topo">
    <div class="animanome row d-flex ">
        <div class="static-txt fw-800">mangut é </div>
        <ul class="dynamic-txts">
            <li><span></span></li>
            <li><span>colher.</span></li>
            <li><span>alimentar.</span></li>
            <li><span>educar.</span></li>
            <li><span>mobilizar.</span></li>
        </ul>
    </div>
</div>


<a class="top pt-5" href="#topo"> <i class="fa fa-sort-up"></i> </a>
<!-- fim anima nome -->


<!-- fim div colunas -->
<div class="container-fluid">
    <div class="  row d-flex justify-content-center bg-darker text-light pt-5" id="sobre">

        <div class="d-flex mb-5 text-justify">

            <div class=" d-flex">
                <div class="col-md-6">
                    <section class="m-5 row" style="width: 550px;">

                        <h3 class="main-txt fs-36">O projeto</h3>

                        <p class="mt-3 fw-500"> A iniciativa Mangút nasce em um contexto de necessidade, visto que no
                            ano de 2021 o Brasil
                            <a href="https://g1.globo.com/jornal-nacional/noticia/2022/07/06/brasil-volta-ao-mapa-da-fome-das-nacoes-unidas.ghtml"
                                target="_blank" style="color:#f5bb31">
                                retornou ao mapa da fome</a>, colocando mais de 60 milhões de pessoas no país em
                            situação de insegurança alimentar. Esse cenário distancia a construção do Objetivo de
                            Desenvolvimento Sustentável <a href="https://brasil.un.org/pt-br/sdgs/2" target="_blank"
                                style="color: #f5bb31;">(ODS-2)</a> da ONU, que visa como principais objetivos a
                            erradicação da fome, alcance da segurança alimentar, melhoria da nutrição e promoção da
                            agricultura sustentável.
                        </p>

                        <div class="d-flex align-content-center mt-5 justify-content-center" style="margin-left: 25px;">

                            <!--video-->
                            <div class="videoformat">

                                <iframe loading="lazy" class="videoframe"
                                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGr1oYOQM&#x2F;watch?embed"
                                    allowfullscreen="allowfullscreen" allow="fullscreen">
                                </iframe>
                            </div>
                            <!--video-->

                        </div>


                    </section>
                </div>
            </div>

            <div class="col-md-6">
                <section class="m-5 row" style="width: 550px;">

                    <h3 class="main-txt fs-36" id="">Mangút</h3>

                    <p class="mt-3 fw-500"> Mangút vem da língua Borun, dos indígenas Krenák e significa "comer,
                        comida". Quem melhor do que os povos
                        indígenas na defesa da natureza, da autonomia alimentar, nutritiva e orgânica, não é mesmo? Por
                        isso
                        escolhemos esse nome, porque a natureza é a melhor e mais avançada tecnologia que possuímos.
                        Precisamos ressignificar nossa relação com a natureza, ocupar espaços para o cultivo de uma
                        alimentação
                        orgânica que acabe com a situação de insegurança alimentar da comunidade.
                    </p>

                    <h3 class="main-txt fs-36 pt-5 mt-2" id="">Objetivo</h3>

                    <p class="mt-3 fw-500">

                        Acreditamos no poder da organização comunitária, portanto, essa rede possibilita a construção
                        dessa organização com base no território onde as pessoas vivem, podendo atender as demandas
                        emergenciais e colaborando para a construção e efetivação de políticas públicas que atendam e
                        aproximem aos objetivos propostos pela ODS-2.

                    </p>

                    <p class="mt-3 fw-500">
                        O Mangút proporciona a conexão de pessoas que querem se organizar para acabar com a fome e
                        promover autonomia alimentar de forma saudável e coletiva dentro de suas comunidades, afinal,
                        como já disse o secretário-geral da ONU, António Guterres: “antes de ser mercadoria, comida é um
                        direito humano”. <a routerLink='/login'> Mangút-se!</a>
                    </p>

                </section>
            </div>

        </div>
        <!-- div colunas -->


    </div>
</div>

<!-- Valores -->
<div class="bg-green flex justify-content-center pb-5" id="valores">

    <h4 class="" style="color:black; text-align: center; font-size: 90px; color: yellow;">Valores</h4>

    <h1>Bla, Bla, Bla. Bla</h1>
    <div class="cards">
        <div class="card">
            <h2 class="card-title">Seal</h2>
            <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="">
            <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
                carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose
                only
                living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the
                earless
                seals, or true seals).</p>
        </div>
        <div class="card">
            <h2 class="card-title">Lion</h2>
            <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="">
            <p class="card-desc">The lion (Panthera leo) is a species in the family Felidae and a member of the genus
                Panthera. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the
                end
                of its tail. It is sexually dimorphic; adult male lions have a prominent mane.</p>
        </div>
        <div class="card">
            <h2 class="card-title">Hawk</h2>
            <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="">
            <p class="card-desc">Hawks are a group of medium-sized diurnal birds of prey of the family Accipitridae.
                Hawks
                are widely distributed and vary greatly in size.
                The subfamily Accipitrinae includes goshawks, sparrowhawks, sharp-shinned hawks and others. This
                subfamily are
                mainly woodland birds with long tails and high visual acuity. They hunt by dashing suddenly from a
                concealed
                perch.</p>
        </div>
    </div>





    <!-- cards quem somos -->
    <div class="cardts flex justify-content-center m-5">
        <h4 class="mb-5" style="font-size: 90px; color:white; text-align: center; ">Mangút Equipe</h4>

        <div class="cards d-flex  justify-content-center  ">
            <div class="flip-card d-flex">
                <div class="flip-card-inner ">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/nVGm0YF.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back ">
                        <p class="mt-5">Adrielly Ribeiro</p>
                        <p class="text">Full Stack Java Junior</p>
                        <p class="" style="color: gray; font-size: 25px;">Cubatão SP</p>
                        <div class="icons justify-content-center">
                            <a href="#"><i class="fab fa-linkedin-in "
                                    style="color: white; padding-left:10px; font-size:20px; margin-left: 20px ; "></i></a>
                            <a href="#"><i class="fab fa-github"
                                    style="color: white; padding-left:10px; font-size:20px; margin-right: 20px ;"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card d-flex ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

            <div class="flip-card d-flex ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

            <div class="flip-card d-flex ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="cards d-flex  justify-content-center ">
            <div class="flip-card">
                <div class="flip-card-inner ">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

            <div class="flip-card ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

            <div class="flip-card ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/7AdRdRt.jpg?1" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <p>John Doe</p>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- final card equipe -->

<!-- Comeco como codamos -->
<div class="bg-darker text-light d-flex justify-content-center">
    <div class="pt-5 pb-5">
        <div class="header">
            <h1>Como codamos a rede Social</h1>

            <p>Para a criação da rede social usamos as ferramentas abaixos</p>
        </div>
        <div class="row1-container">
            <div class="box box-down cyan">
                <h2>Supervisor</h2>
                <p>Monitors activity to identify project roadblocks</p>
                <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
            </div>

            <div class="box red">
                <h2>Team Builder</h2>
                <p>Scans our talent network to create the optimal team for your project</p>
                <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
            </div>

            <div class="box box-down blue">
                <h2>Calculator</h2>
                <p>Uses data from past projects to provide better delivery estimates</p>
                <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
            </div>
        </div>
        <div class="row2-container">
            <div class="box orange">
                <h2>Karma</h2>
                <p>Regularly evaluates our talent to ensure quality</p>
                <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
            </div>
        </div>


    </div>
</div>