<nav class="navbar navbar-expand-lg navbar-light bg-green">

    <a class="text-logo fw-bold" href="#"><img src="https://i.imgur.com/4pShSKx.png" style="height: 50px;"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">



            <li class="nav-item dropdown my-2 my-lg-0 text-right ">
                <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MANGUT-SE
                </a>
                <div class="dropdown-menu bg-green border-warning" aria-labelledby="navbarDropdown">

                    <a routerLink='/login' class="dropdown-item m-0 font-weight-bold text-light fs-16">Login<i
                            class="fa fa-sign-out" aria-hidden="true"></i></a>


                    <a routerLink='/cadastro' class="dropdown-item m-0 text-light font-weight-bold fs-20">Cadastre-se<i
                            class="fa fa-wrench fs-20" aria-hidden="true"></i></a>

                </div>
            </li>

        </ul>

    </div>
</nav>