<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center text-purple">Atualizar meu perfil</h1>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome"
                    placeholder="Digite seu nome completo">
            </div>
            <div class="form-group">
                <label for="usuaria">Pessoa Usuária</label>
                <input [(ngModel)]="usuario.usuario" class="form-control" type="text" name="usuaria" id="usuaria"
                    placeholder="Digite seu melhor email">
            </div>
            <div class="form-group">
                <label for="foto">Link da foto</label>
                <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
                    placeholder="Cole o link da sua foto aqui (pode usar o imgur.com, por exemplo)">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha"
                    placeholder="Digite sua senha">
            </div>
            <div class="form-group">
                <label for="confirmasenha">Confirmar Senha</label>
                <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmasenha"
                    id="confirmasenha" placeholder="Digite sua senha novamente">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo de Pessoa Usuária</label>
                <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)">
                    <option>Selecione um tipo de Pessoa Usuária:</option>
                    <option value="normal">Padrão</option>
                    <option value="adm">Administradora</option>
                </select>
            </div>
            <div class="d-flex justify-content-center p-3">
                <button class="btn btn-danger text-light mr-4" type="submit" routerLink="/inicio">Cancelar</button>
                <button class="btn btn-dark" type="submit" (click)='atualizar()'>Atualizar</button>
            </div>
        </div>
    </div>
</div>