<!--mewokvmKVM,WOAKLÇVVÇLW,Vdsa-->
<div class="bg-darker p-0">
    <a routerLink='/inicio' class="text-light ps-3">
        <i class="fa fa-angle-double-left" aria-hidden="true"> HOME</i>
    </a>
</div>

<div class="container-fluid p-5 d-flex text-light bg-gr justify-content-center">

    <div class="cardts p-3" style="border-radius: 20px; width: 110vh;">
        <h1 class="fs-54 text-center">Temas</h1>
        <h5 class="fs-18 text-center mt-3">Veja abaixo todos os temas disponíveis ou registre um novo</h5>

        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                
                <div class="form-group">
                    <h6 class="mt-2 mb-2">Categoria:</h6>
                    <input [(ngModel)]="tema.categoria" type="text" class="form-control" id="categoria"
                        placeholder="Digite o tema que será cadastrado">
                </div>
                <div class="form-group">
                    <h6 class="mt-2 mb-2">Descrição:</h6>
                    <textarea name="descricao" [(ngModel)]="tema.descricao" type="text" class="form-control"
                        id="descricao" placeholder="Digite a descrição do tema"></textarea>
                </div>

                <div class="d-flex justify-content-center pt-3 pb-3">
                    <button class="btn btn-warning" (click)="cadastrar()">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="bg-green">
    <div class="container bg-green pt-1">
        <div class="container bg-green text-light p-0">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Temas Existentes
                    </h2>
                </div>
            </div>

            <div class="row mt-3 pb-5 d-flex justify-content-center bg-green">
                <div class="col-md-6">

                    <table class="table table-hover bg-green p-0 mt-3 text-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Descrição</th>
                                <th scope="col" class="text-end">Modificadores</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let tema of listTema'>
                                <th>{{tema.id}}</th>
                                <td>{{tema.categoria}}</td>
                                <td>{{tema.descricao}}</td>
                                <td class="d-flex justify-content-end">
                                    <button class="btn btn-warning mr-3" [routerLink]="['/tema-edit', tema.id]">Editar</button>
                                    <button class="btn btn-outline-warning" [routerLink]="['/tema-delete', tema.id]">Deletar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>