#img-bg {
    background-image: url('https://i.imgur.com/yrHByQa.jpg');

    min-height: 90vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-row {
    background-color: rgba(17, 73, 20, 0.336);
    backdrop-filter: blur(10px);
}

.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}

.btn-purple {
    background-color: rgb(59, 20, 8);
}

.cardts {
    background: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border-radius: 10px;
}

.card-body {
    border-radius: 5px;
}

.nav {
    background-color: dark;
    font-weight: 500;
}

.fs-48 {
    font-size: 48pt;
}

.fs-18 {
    font-size: 18pt;
}

.box-col {
    display: flex;
    flex-direction: column;
}

.card-w100 {
    min-width: 100%;
}

.sp-bt {

    justify-content: space-between;

}

.bg-green {
    background-color: #31401f;
}

.bg-darker {
    background-color: #071104;
}

.user-pfp {
    max-width: 75px; max-height: 75px; min-width: 75px; min-height: 75px
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  